FINAL/Schemas/Compound.xsd

<?xml version="1.0" encoding="utf-16"?>

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="product">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="name" type="xsd:string" />
        <xsd:element maxOccurs="unbounded" name="serves" type="xsd:int" />
        <xsd:element maxOccurs="unbounded" name="calories" type="xsd:int" />
        <xsd:element maxOccurs="unbounded" name="price">
          <xsd:complexType>
            <xsd:attribute name="type" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" name="description" type="xsd:string" />
        <xsd:element maxOccurs="unbounded" name="instructions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="step" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" name="ingredients">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="ingredient">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ingredientName" type="xsd:string" />
                    <xsd:element name="measurementQuanitity">
                      <xsd:complexType>
                        <xsd:attribute name="type" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="description" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="category" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

<!-- Schema for the BeefCategory file -->

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="product">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:string" />
        <xsd:element name="description" type="xsd:string" />
        <xsd:element name="serves" type="xsd:int" />
        <xsd:element name="calories" type="xsd:int" />
        <xsd:element name="price">
          <xsd:complexType>
            <xsd:attribute name="type" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="instructions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="step" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ingredients">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="ingredient">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ingredientName" type="xsd:string" />
                    <xsd:element name="measurementQuanitity">
                      <xsd:complexType>
                        <xsd:attribute name="type" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="description" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="category" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>