FINAL/Schemas/CompareCategories.xsd

<?xml version="1.0" encoding="utf-16"?>
<!-- Namespace for this file -->
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://finalProject/CompareCategories"
			targetNamespace="http://finalProject/CompareCategories"/>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="products">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="product">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string" />
              <xsd:element name="serves" type="xsd:int" />
              <xsd:element name="calories" type="xsd:int" />
              <xsd:element name="price" type="xsd:decimal" />
            </xsd:sequence>
            <xsd:attribute name="category" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>